* {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container {
    background: linear-gradient(45deg,aqua, blue);
    background-size: cover;
    background-repeat: no-repeat;
    height: 620px;
    padding-top: 10%;
}

.app-container {
    background-color: #fff;
    margin: 0 auto;
    padding: 5%;
    width: 75%;
    border-radius: 10px;
    box-shadow: 5px 8px 3px #00000060;
    position: relative;
}

p {
    margin-bottom: 5px;
}

#alert-box {
 text-align: center;
}

input {
    width: 90%;
    height: 30px;
    outline: none;
    border: 1px solid #00000034;
    border-radius: 5px;
    margin: 10px 0px;
}

#optionArea {
    margin-bottom: 10px;
}

li {
    /* list-style-type: upper-alpha;
    list-style-position: inside; */
    padding: 5px 15px;
    transition: 0.3s;
    border: 1px solid #00000034;
    border-radius: 5px;
    margin-bottom: 8px;
     cursor: pointer;
}

.correct {
    background-color: aquamarine;
}
.incorrect {
    background-color: rgb(228, 98, 98);
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 25px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: aqua;
}

.resultPage {
    text-align: center;
    width: 100%;
}

table {
    margin: 0 auto;
}

#score {
    font-size: 60px;
    color: rgb(30, 33, 245);
}

th, td {
    padding: 5px 10px;
}

.correctAnswer {
    color: rgb(7, 107, 7);
}
.wrongAnswer {
    color: rgb(207, 17, 17);
}

h1 {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 10px;
}

span {
    color: green;
    font-size: 20px;
}

